@mixin flex($justify, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}
@mixin wrapper($padding: 0) {
  width: 100%;
  max-width: 1252px;
  height: 100%;
  padding: $padding;
}

@mixin mediaQuery($breakpoint) {
  @if $breakpoint==xs {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint==xxl {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
}
