$primary-color: #ffffff;
$secondary-color: #2D3236;
$dark-backgorund: #215398;
$light-backgorund: #F1F6FC;
$text-color: #808080;
$accent-color: #28A9E0;
$dot-color: #ff3859;
$hover-color: rgba(255, 255, 255, 0.05);
$primary-font: 'Rubik', sans-serif;
$border-radius: 26px;